*{

    text-align: center;
    align-content: center;
}
fieldset{
    background-color: green;
    margin: 5em 35em;
    padding-bottom: 10rem;
    border-radius: 1rem;
    border: 4px solid;
}
button{
    margin: 0.5rem;
    background-color:blue ;
    color: antiquewhite;
}
.container{
    margin: 0.5rem;
}
